@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark tema için Swiss Gaming tarzı renk paleti */
.dark {
    --tw-bg-opacity: 1;
    background-color: #000 !important;
    color: #fff !important;
}
