@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000 !important;
}

.dark {
    --tw-bg-opacity: 1;
    background-color: #000 !important;
    color: #fff !important;
}
